.header {
  margin: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  display: inline-block;
  margin-left: 50px;
  color: #636060;
  font-size: 17px;
  font-family: Helvetica;
}
section {
  width: 100%;
}
h2 {
  color: #fff;
  font-size: 79px;
  font-family: Helvetica;
  font-weight: 700;
  position: absolute;
  top: 35%;
  left: 30%;
}
h3 {
  color: #fff;
  font-size: 19px;
  font-family: Helvetica;
  position: absolute;
  top: 51%;
  left: 38%;
  opacity: 0.9;
}
.end {
  margin: 20px 100px;
  display: flex;
  margin-top: 80px;
}
h4 {
  color: #636060;
  font-size: 17px;
  font-family: Helvetica;
  margin-bottom: 13px;
}
h5 {
  color: #010101;
  font-size: 28px;
  font-family: Helvetica;
  margin-bottom: 40px;
}
p {
  color: #636060;
  font-size: 20px;
  font-family: Helvetica;
  width: 235px;
  height: 115px;
}
h6 {
  color: #343232;
  font-size: 19px;
  font-family: Helvetica;
  margin-bottom: 20px;
  margin-top: 20px;
}
.container {
  display: flex;
  margin-left: 100px;
  width: 1200px;
  height: 1000px;
  flex-wrap: wrap;
}
.child {
  margin-left: 50px;
  margin-bottom: 40px;
  height: 400px;
}
